*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.telalogin{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(astronomia-do-ceu-noturno-galactico-e-ciencia-combinaram-ia-generativa_188544-9656.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    
}

form{
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 93, 93, 0.185);
    width: auto;
    padding: 20px;
    text-align: center;
    
}
form h1{
    padding: 30px;
    margin: 30px;
    text-align: center;
    font-size: 60px;
}
input{
    border-radius: 10px;
    padding: 15px;
    width: 30em;
    font-size: 15px;
    color: rgb(255, 255, 255);
    
}
.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60em;
    font-size: 20px;
    margin-top: 20px;

}
.txt .ox{
    margin: 0;
    padding: 0;
    width: 10px;
    
}

.btn-register{
    text-decoration: none;
    padding: 30px;
    margin: 24px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background-color: rgba(255, 93, 93, 0.459);
    font-weight: bold;
    animation: pulse 2s infinite;

}

@keyframes pulse {
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.1);
}
100% {
    transform: scale(1);
}
}

.btn-register:hover {
    animation: none;
    background-color: rgba(172, 1, 1, 0.377);
    transition: 2s;

}

