*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.telalogin{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(122, 168, 13, 0.534);
    margin: 10px;

    
}

form{
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: rgba(139, 0, 65, 0.507);
    width: auto;
    padding: 20px;
    text-align: center;
    
}
form h1{
    padding: 30px;
    margin: 30px;
    text-align: center;
    font-size: 60px;
    background-color: rgb(50, 0, 97);
}
input{
    
    margin: 6px;
    padding: 15px;
    width: 30em;
    font-size: 15px;
    background-color: coral;
    color: rgb(255, 255, 255);
    
}
i{
    
}


